/*
Jonathan Schrader ********* 7/23/2015
*/

body {
    background: -webkit-linear-gradient(#FFFFFF, #DCE4F5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF, #DCE4F5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF, #DCE4F5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF, #DCE4F5);
    background-repeat: no-repeat;
    color: #666666;
    background-color: #DCE4F5;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    
}

header {
   background-position: right;
   background-repeat: no-repeat;
   background-color: #5C8AE6;
   color: #FFFFFF;
   height: 60px;
   padding-top: 13px;
    

}

header h1 {
margin: 0;
padding-left:18px;
}

h1 a {
    text-decoration: none;
    color: white;
}
h1 a:hover {
    text-decoration: none;
    color: white;
}
h1 a:clicked {
    text-decoration: none;
    color: white;
}

h4{
   padding-left: 20px; 
}

#header{
    margin-top: 10px;
    word-spacing: 120px;
    padding: 3px;
    padding-left: 10px;
    border-style: solid;  
} 

.buttonSpace{
    padding-left: 20px;
}

.space{
    padding-top: 20px;
}
.commits :hover{
    background-color: #EBEBEB;
    text-decoration: none;
}

.commits{
    border-style: solid; 
    border-top: none;
    word-spacing: 120px;
    padding: 3px;
    padding-left: 10px; 
}
.image{
background-image: url(images/ytexture.jpg);
}

.jumbotron{
    width: 50%;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    font-family: "Verdana", Times, serif;
    background: rgb(200, 54, 54); /* This is for ie8 and below */
    background: rgba(200, 54, 54, 0.5); 
    }

.front .jumbotron{
    text-align: center;
    font-family: "Verdana", Times, serif;
    
    }

.row{
    background-color: #5C8AE6;
    color: #F8F8F8;
    border-radius: 25px;
    border-width: 2px;
    border-color: grey;
    border-style: solid;
    
}
    
.jumbotron {
    margin-bottom: 0px;
    
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron h1{
    text-align: center;
    font-family: "Verdana", Times, serif;
}



.projects{
    border-style: solid;
    text-align: center;
    word-spacing: 40px;
    padding: 3px;
    padding-left: 10px; 
}

.description{
    border: solid;
    border-top: none;
    margin-top: -10px;
}

.progress-bar{
    width:70%;
}

.progress{
    width: 80%;
    margin-left: 8em;
    border: 1px solid;
}


.description-footer{
    text-align:center;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Rolman", serif;  
    padding: 10px;
    padding-top: 30px;
}

#wrapper{
    margin:auto;
    width: 80%;
    background: -webkit-linear-gradient(#5C8AE6, #DCE4F5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5C8AE6, #DCE4F5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5C8AE6, #DCE4F5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5C8AE6, #DCE4F5);
    min-width: 960px;
    max-width: 2048px;

    border: solid;
}

nav {   
    font-weight: bold;
    padding: 20px;
    float: left;

}

main {
    background-color: #FFFFFF;   
    padding: 1px 20px 20px 30px;
    
}

nav a {
    text-decoration: none;
}

h1 {
    margin-top: 0;
    font-family: Georgia, "Times New Rolman", serif; 
}

h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Rolman", serif; 
    text-shadow: 1px 1px #CCCCCC;
}

main h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Rolman", serif; 
    text-shadow: 1px 1px #CCCCCC;
}

h3 {
   color: #000033;
   font-family: Georgia, "Times New Rolman", serif;  
}

main ul {
   list-style-image: url('images/marker.gif'); 
}

nav ul{
   font-size: 1.2em;
   margin: 0;
   padding-left: 0;
   list-style-type: none;
}

nav :link {
   color: #F8F8F8;
}


nav :hover {
    color: #FFFFFF;
    text-decoration: none;
}

table {
    position: relative;
    left: 45px;
    border-collapse: collapse;
}

table, th, td{
    border: 2px solid #3399CC; 
}

tbody tr:nth-child(odd) {
    background-color: #F5FFFF;
}

tbody th:nth-child(2) {
    text-align: left;
    padding: 5px;
}

tbody tr:nth-child(1) th:nth-child(2){
    text-align: center;
}

tbody tr:nth-child(1){
    text-align: center;
    color: white;
    background-color: #00297A;
}

.staffContainer{
    min-height: 220px;
}



label {
    float: left;
    width: 120px;
    text-align: right;
}

input {
    margin-left: 3em;
    color: grey;
}

textarea {
    margin-left: 3em;
}

.img-circle {
    border: solid;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.button {
    background-color: #90C7E3;
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Rolman", serif;  
    padding: 20px;
    padding-bottom: 0px;
    background-color: #FFFFFF;
}